body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:196px;
}
#u84844 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:30px;
  width:1630px;
  height:196px;
}
#u84845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:1626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:893px;
}
#u84846 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:236px;
  width:1899px;
  height:893px;
}
#u84847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:438px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1892px;
  height:184px;
}
#u84848 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1187px;
  width:1892px;
  height:184px;
}
#u84849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:1888px;
  visibility:hidden;
  word-wrap:break-word;
}
