body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:597px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61654 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:514px;
  height:90px;
  color:#FFFFFF;
  text-align:left;
}
#u61655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:510px;
  word-wrap:break-word;
}
#u61656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61656 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:122px;
  width:107px;
  height:98px;
  color:#FFFFFF;
  text-align:left;
}
#u61657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u61658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61658 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:417px;
  width:107px;
  height:56px;
  color:#FFFFFF;
  text-align:left;
}
#u61659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u61660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61660 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:249px;
  width:397px;
  height:102px;
  color:#FFFFFF;
  text-align:left;
}
#u61661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:393px;
  word-wrap:break-word;
}
#u61662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61662 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:153px;
  width:276px;
  height:22px;
  color:#FFFFFF;
  text-align:left;
}
#u61663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:272px;
  word-wrap:break-word;
}
#u61664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61664 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:451px;
  width:456px;
  height:22px;
  color:#FFFFFF;
  text-align:left;
}
#u61665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:452px;
  word-wrap:break-word;
}
#u61666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u61666 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:507px;
  width:270px;
  height:56px;
  color:#FFFFFF;
  text-align:left;
}
#u61667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
