body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1645px;
  height:224px;
}
#u16979 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:290px;
  width:1645px;
  height:224px;
}
#u16980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:1641px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:92px;
}
#u16981 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:529px;
  width:257px;
  height:92px;
}
#u16982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:34px;
}
#u16983 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:564px;
  width:814px;
  height:34px;
}
#u16984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1461px;
  height:127px;
}
#u16985 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:631px;
  width:1461px;
  height:127px;
}
#u16986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:1457px;
  visibility:hidden;
  word-wrap:break-word;
}
