body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1285px;
}
#u40403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1285px;
}
#u40404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:634px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40405 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:94px;
  width:130px;
  height:245px;
}
#u40405_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u40407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40407 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u40407_img.selected {
}
#u40407.selected {
}
#u40408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40409 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u40410 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u40406_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40411 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u40412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40412 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u40413 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u40414 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u40415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40415 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u40416 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u40417 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40418 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40419 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40420 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40421 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40422 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40423 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40424 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40425 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40426 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40427 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40428 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40429 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40430 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40431 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40432 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40433 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40434 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40435 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40436 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40437 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40438 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40439 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40440 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40441 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u40442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40442 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u40443 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u40444 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1114px;
  width:104px;
  height:65px;
}
#u40444_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u40446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40446 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u40446_img.selected {
}
#u40446.selected {
}
#u40447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40448 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u40449 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u40445_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40450 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u40451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40451 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u40452 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u40453 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u40454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40454 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u40455 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u40456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:868px;
}
#u40456 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:1431px;
  height:868px;
}
#u40457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:1427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40458 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:122px;
  width:1402px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40460 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:227px;
  width:118px;
  height:35px;
}
#u40461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u40462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40462 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:227px;
  width:118px;
  height:35px;
}
#u40463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u40464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40464 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:227px;
  width:118px;
  height:35px;
}
#u40465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u40466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40466 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:227px;
  width:118px;
  height:35px;
}
#u40467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u40468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:558px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40468 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:272px;
  width:464px;
  height:558px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40470 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:227px;
  width:118px;
  height:35px;
}
#u40471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u40472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40472 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:178px;
  width:94px;
  height:22px;
}
#u40473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u40474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40474 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:178px;
  width:94px;
  height:22px;
}
#u40475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u40476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u40476 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:868px;
  width:430px;
  height:85px;
  color:#FFFFFF;
  text-align:left;
}
#u40477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u40478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40478 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:277px;
  width:167px;
  height:545px;
}
#u40479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40480 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:285px;
  width:65px;
  height:24px;
}
#u40481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40482 {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:345px;
  width:65px;
  height:24px;
}
#u40483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40484 {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:400px;
  width:65px;
  height:24px;
}
#u40485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40486 {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:453px;
  width:65px;
  height:24px;
}
#u40487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40488 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:285px;
  width:65px;
  height:24px;
}
#u40489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40490 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:345px;
  width:65px;
  height:24px;
}
#u40491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40492 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:400px;
  width:65px;
  height:24px;
}
#u40493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40494 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:453px;
  width:65px;
  height:24px;
}
#u40495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:595px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40496 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:227px;
  width:136px;
  height:595px;
}
#u40497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40498 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:285px;
  width:65px;
  height:24px;
}
#u40499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40500 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:345px;
  width:65px;
  height:24px;
}
#u40501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40502 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:400px;
  width:65px;
  height:24px;
}
#u40503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40504 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:453px;
  width:65px;
  height:24px;
}
#u40505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u40506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40506 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:178px;
  width:94px;
  height:22px;
}
#u40507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u40508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40508 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:178px;
  width:94px;
  height:22px;
}
#u40509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u40510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40510 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:178px;
  width:94px;
  height:22px;
}
#u40511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
