body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1285px;
}
#u26033 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:232px;
  height:1285px;
}
#u26034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:634px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26035 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:104px;
  width:130px;
  height:245px;
}
#u26035_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u26037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u26037 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u26037_img.selected {
}
#u26037.selected {
}
#u26038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26039 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u26040 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u26036_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26041 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u26042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26042 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u26043 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u26044 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u26045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26045 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u26046 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u26047 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26048 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26049 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26050 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26051 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26052 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26053 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26054 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26055 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26056 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26057 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26058 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26059 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26060 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26061 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26062 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26063 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26064 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26065 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26066 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26067 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26068 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26069 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26070 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26071 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u26072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26072 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u26073 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u26074 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1124px;
  width:104px;
  height:65px;
}
#u26074_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u26076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u26076 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u26076_img.selected {
}
#u26076.selected {
}
#u26077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26078 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u26079 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u26075_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26080 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u26081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26081 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u26082 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u26083 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u26084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26084 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u26085 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u26086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:868px;
}
#u26086 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:10px;
  width:1431px;
  height:868px;
}
#u26087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:1427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26088 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:132px;
  width:1402px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26090 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:237px;
  width:118px;
  height:35px;
}
#u26091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26092 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:237px;
  width:118px;
  height:35px;
}
#u26093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26094 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:237px;
  width:118px;
  height:35px;
}
#u26095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26096 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:237px;
  width:118px;
  height:35px;
}
#u26097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26098 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:237px;
  width:118px;
  height:35px;
}
#u26099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:558px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26100 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:282px;
  width:464px;
  height:558px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:613px;
}
#u26102 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:227px;
  width:548px;
  height:613px;
}
#u26103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:298px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26104 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:237px;
  width:118px;
  height:35px;
}
#u26105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26106 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:239px;
  width:118px;
  height:35px;
}
#u26107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26108 {
  border-width:0px;
  position:absolute;
  left:1406px;
  top:237px;
  width:118px;
  height:35px;
}
#u26109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26110 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:237px;
  width:118px;
  height:35px;
}
#u26111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u26112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26112 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:188px;
  width:94px;
  height:22px;
}
#u26113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u26114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u26114 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:878px;
  width:430px;
  height:500px;
  color:#FFFFFF;
  text-align:left;
}
#u26115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u26116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26116 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:287px;
  width:167px;
  height:545px;
}
#u26117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#000000;
  text-align:left;
}
#u26118 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:17px;
  width:259px;
  height:101px;
  color:#000000;
  text-align:left;
}
#u26119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u26120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:658px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26120 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:210px;
  width:1467px;
  height:658px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:321px;
  width:1463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1657px;
  height:110px;
}
#u26122 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:227px;
  width:1657px;
  height:110px;
}
#u26123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:1653px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26124 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:188px;
  width:94px;
  height:22px;
}
#u26125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
