body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1774px;
}
#u60576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1774px;
}
#u60577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:879px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60578 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:181px;
  height:1485px;
}
#u60578_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60580 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60580_img.selected {
}
#u60580.selected {
}
#u60581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60582 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60583 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60579_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60584 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60585 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60586 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60587 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60588 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60589 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60590 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60591 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60592 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60593 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60594 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60595 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60596 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60597 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60598 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60599 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60600 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60601 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60602 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60603 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60604 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60606 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60606_img.selected {
}
#u60606.selected {
}
#u60607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60608 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60609 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60605_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60610 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  color:#FFFFFF;
}
#u60611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60611 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u60612 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u60613 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  color:#FFFFFF;
}
#u60614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60614 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u60615 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u60616 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60617 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60618 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60619 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60620 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60621 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60623 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60623_img.selected {
}
#u60623.selected {
}
#u60624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60625 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60626 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60622_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60627 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60628 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60629 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60630 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60631 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60632 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60633 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60634 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60635 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60636 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60637 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60638 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60639 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:118px;
  height:20px;
  color:#FFFFFF;
}
#u60640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60640 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u60641 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u60642 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60643 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60644 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60645 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60646 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60647 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60648 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60649 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60650 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60651 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60652 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60653 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60654 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60655 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60656 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60657 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:156px;
  height:20px;
  color:#FFFFFF;
}
#u60658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60658 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:134px;
  height:20px;
}
#u60659 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:129px;
  white-space:nowrap;
}
#u60660 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:240px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60661 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60662 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60664 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60664_img.selected {
}
#u60664.selected {
}
#u60665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60666 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60667 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60663_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60668 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60669 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60670 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60671 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:118px;
  height:20px;
  color:#FFFFFF;
}
#u60672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60672 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u60673 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u60674 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:118px;
  height:20px;
  color:#FFFFFF;
}
#u60675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60675 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u60676 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u60677 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:118px;
  height:20px;
  color:#FFFFFF;
}
#u60678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60678 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u60679 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u60680 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:143px;
  height:20px;
  color:#FFFFFF;
}
#u60681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60681 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:121px;
  height:20px;
}
#u60682 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u60683 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60684 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60685 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60686 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60687 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60688 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60689 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60690 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60691 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60692 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60693 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60694 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60695 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60696 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60697 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60698 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60699 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60700 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:760px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60702 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60702_img.selected {
}
#u60702.selected {
}
#u60703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60704 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60705 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60701_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60706 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60707 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60708 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60709 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60710 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60711 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60712 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60713 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60714 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60715 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60716 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60717 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60718 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60719 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60720 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60721 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:130px;
  height:20px;
  color:#FFFFFF;
}
#u60722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60722 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u60723 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u60724 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:130px;
  height:20px;
  color:#FFFFFF;
}
#u60725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60725 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u60726 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u60727 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:118px;
  height:20px;
  color:#FFFFFF;
}
#u60728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60728 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u60729 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u60730 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60731 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60732 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:960px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60734 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60734_img.selected {
}
#u60734.selected {
}
#u60735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60736 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60737 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60733_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60738 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:130px;
  height:20px;
  color:#FFFFFF;
}
#u60739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60739 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u60740 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u60741 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  color:#FFFFFF;
}
#u60742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60742 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u60743 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u60744 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:92px;
  height:20px;
  color:#FFFFFF;
}
#u60745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60745 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u60746 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u60747 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:143px;
  height:20px;
  color:#FFFFFF;
}
#u60748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60748 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:121px;
  height:20px;
}
#u60749 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u60750 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:143px;
  height:20px;
  color:#FFFFFF;
}
#u60751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60751 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:121px;
  height:20px;
}
#u60752 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u60753 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:156px;
  height:20px;
  color:#FFFFFF;
}
#u60754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60754 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:134px;
  height:20px;
}
#u60755 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:129px;
  white-space:nowrap;
}
#u60756 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60757 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60758 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60759 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60760 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60761 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60762 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:130px;
  height:20px;
  color:#FFFFFF;
}
#u60763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60763 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:108px;
  height:20px;
}
#u60764 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u60765 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60766 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60767 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1180px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60769 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60769_img.selected {
}
#u60769.selected {
}
#u60770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60771 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60772 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60768_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60773 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60774 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60775 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60776 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60777 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60778 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60779 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60780 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60781 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60782 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60783 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60784 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60786 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60786_img.selected {
}
#u60786.selected {
}
#u60787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60788 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60789 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60785_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60790 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60791 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60792 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60793 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60794 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60795 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60796 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60797 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60798 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1360px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60800 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60800_img.selected {
}
#u60800.selected {
}
#u60801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60802 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60803 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60799_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60804 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60805 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60806 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60807 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60808 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60809 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60810 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60811 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60812 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1440px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u60814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60814 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60814_img.selected {
}
#u60814.selected {
}
#u60815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60816 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u60817 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u60813_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60818 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u60819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60819 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u60820 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u60821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:868px;
}
#u60821 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:1431px;
  height:868px;
}
#u60822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:1427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:746px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u60823 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:122px;
  width:1402px;
  height:746px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u60824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:365px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u60825 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:683px;
  width:430px;
  height:730px;
  color:#FFFFFF;
  text-align:left;
}
#u60826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u60827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60827 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:592px;
  width:64px;
  height:23px;
}
#u60828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u60829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1675px;
  height:146px;
}
#u60829 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:446px;
  width:1675px;
  height:146px;
}
#u60830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:1671px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1642px;
  height:82px;
}
#u60831 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:282px;
  width:1642px;
  height:82px;
}
#u60832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:1638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60833 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:433px;
  width:44px;
  height:18px;
}
#u60834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u60835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60835 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:433px;
  width:44px;
  height:18px;
}
#u60836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
