body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:393px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25929 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:11px;
  width:828px;
  height:393px;
}
#u25930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25931 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:21px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u25933_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:831px;
  height:6px;
}
#u25933 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:55px;
  width:828px;
  height:3px;
}
#u25934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25936 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:76px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25937 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u25938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25938 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:76px;
  width:87px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  white-space:nowrap;
}
#u25940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25941 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:152px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25942 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u25943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25943 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:152px;
  width:111px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  white-space:nowrap;
}
#u25945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25945 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:360px;
  width:80px;
  height:30px;
}
#u25946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u25947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25947 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:360px;
  width:80px;
  height:31px;
}
#u25948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u25949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25950 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:190px;
  width:320px;
  height:28px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25951 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6px;
  width:304px;
  word-wrap:break-word;
}
#u25952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25952 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:190px;
  width:111px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  white-space:nowrap;
}
#u25954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25954 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:293px;
  width:320px;
  height:93px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u25955 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:38px;
  width:304px;
  word-wrap:break-word;
}
#u25956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25956 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:313px;
  width:45px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u25958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u25958 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:85px;
  width:22px;
  height:13px;
}
#u25959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25960 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:99px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u25961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:91px;
  white-space:nowrap;
}
#u25962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25963 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:114px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25964 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:49px;
  white-space:nowrap;
}
#u25965 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:120px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u25966 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25965_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u25967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25968 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:121px;
  width:23px;
  height:16px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u25969 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25968_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u25970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25970 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:115px;
  width:81px;
  height:26px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u25971 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:4px;
  width:49px;
  white-space:nowrap;
}
#u25972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u25972 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:76px;
  width:595px;
  height:28px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u25973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u25974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u25974 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:114px;
  width:595px;
  height:28px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u25975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u25976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25976 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:141px;
  width:451px;
  height:92px;
}
#u25977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
