body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1285px;
}
#u16338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:1285px;
}
#u16339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:634px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16340 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:94px;
  width:130px;
  height:245px;
}
#u16340_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u16342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16342 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16342_img.selected {
}
#u16342.selected {
}
#u16343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16344 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u16345 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u16341_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16346 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u16347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16347 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u16348 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u16349 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u16350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16350 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u16351 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u16352 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16353 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16354 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16355 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16356 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16357 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16358 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16359 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16360 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16361 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:120px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16362 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16363 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16364 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16365 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16366 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16367 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:160px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16368 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16369 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16370 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:180px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16371 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16372 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16373 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:200px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16374 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16375 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16376 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u16377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16377 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
}
#u16378 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:78px;
  white-space:nowrap;
}
#u16379 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1114px;
  width:104px;
  height:65px;
}
#u16379_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u16381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16381 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16381_img.selected {
}
#u16381.selected {
}
#u16382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16383 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u16384 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u16380_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16385 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u16386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16386 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u16387 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u16388 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u16389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16389 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
}
#u16390 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u16391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1431px;
  height:868px;
}
#u16391 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:1431px;
  height:868px;
}
#u16392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:1427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16393 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:122px;
  width:1402px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:1398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16395 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:227px;
  width:118px;
  height:35px;
}
#u16396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16397 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:227px;
  width:118px;
  height:35px;
}
#u16398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16399 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:227px;
  width:118px;
  height:35px;
}
#u16400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16401 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:227px;
  width:118px;
  height:35px;
}
#u16402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16403 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:227px;
  width:118px;
  height:35px;
}
#u16404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:558px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16405 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:272px;
  width:464px;
  height:558px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:613px;
}
#u16407 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:217px;
  width:548px;
  height:613px;
}
#u16408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:298px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16409 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:227px;
  width:118px;
  height:35px;
}
#u16410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16411 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:229px;
  width:118px;
  height:35px;
}
#u16412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16413 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:227px;
  width:118px;
  height:35px;
}
#u16414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16415 {
  border-width:0px;
  position:absolute;
  left:1578px;
  top:227px;
  width:118px;
  height:35px;
}
#u16416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u16417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16417 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:178px;
  width:94px;
  height:22px;
}
#u16418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u16419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:831px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
  text-align:left;
}
#u16419 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:868px;
  width:430px;
  height:831px;
  color:#FFFFFF;
  text-align:left;
}
#u16420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
#u16421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16421 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:277px;
  width:167px;
  height:545px;
}
#u16422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:264px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16423 {
  border-width:0px;
  position:absolute;
  left:1711px;
  top:287px;
  width:65px;
  height:24px;
}
#u16424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16425 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:287px;
  width:65px;
  height:24px;
}
#u16426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#000000;
  text-align:left;
}
#u16427 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:7px;
  width:259px;
  height:101px;
  color:#000000;
  text-align:left;
}
#u16428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u16429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16429 {
  border-width:0px;
  position:absolute;
  left:1861px;
  top:287px;
  width:65px;
  height:24px;
}
#u16430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16431 {
  border-width:0px;
  position:absolute;
  left:1936px;
  top:287px;
  width:65px;
  height:24px;
}
#u16432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16433 {
  border-width:0px;
  position:absolute;
  left:2011px;
  top:287px;
  width:65px;
  height:24px;
}
#u16434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16435 {
  border-width:0px;
  position:absolute;
  left:2086px;
  top:287px;
  width:65px;
  height:24px;
}
#u16436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16437 {
  border-width:0px;
  position:absolute;
  left:2161px;
  top:287px;
  width:65px;
  height:24px;
}
#u16438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u16439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#000000;
  text-align:left;
}
#u16439 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:1035px;
  width:259px;
  height:107px;
  color:#000000;
  text-align:left;
}
#u16440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
#u16441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16441 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:178px;
  width:94px;
  height:22px;
}
#u16442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u16443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16443 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:178px;
  width:94px;
  height:22px;
}
#u16444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u16445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#000000;
  text-align:left;
}
#u16445 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1277px;
  width:259px;
  height:21px;
  color:#000000;
  text-align:left;
}
#u16446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:255px;
  word-wrap:break-word;
}
